.container {
    margin: 20px auto;
    width: 1200px;
    text-align: center; 
  }
  
  .btn {
    color: goldenrod;
    background-color: transparent;
    font-size: large;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px;
    
  }
  
  .btn:hover {
   background-color: goldenrod;
   color: white;
   border: transparent;
   border-radius: 5px;
   padding: 10px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .button-group {
    margin-bottom: 20px;
  }

  .items{
    margin: 20px auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  