.card{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.card-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 6px 0px 8px rgb(135, 135, 251); 
}

.arrow{
    width: 20px;
    height: 20px;
    margin-top: 0px;
}

.name{
    margin-top: 5px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(117, 117, 249);
}

.job{
    margin-top: -10px;
    font-weight: bold;
}

.text{
    margin-top: -5px;
    font-weight: lighter;
    font-size: medium;
}

.random-btn{
    background-color: white;
    border: 1px solid blue;
    width: 100px;
    border-radius: 5px;
    padding: 3px;
    color: rgb(194, 60, 60);
    margin-top: 10px;
}